
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="Index">Index</a>
<br />
<h2>Register</h2>
<form method="post" action="Create">
    <input type="text" name="UserName" placeholder="UserName" />
    <input type="email" name="Email" placeholder="Email" />
    <input type="password" name="Password" placeholder="Password" />
    <br />
    <button>Save</button>

</form>

